<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Photo #<%= @photo.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/photos" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @photo.users %>
          <a href="/photos/<%= @photo.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit photo
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @photo.users %>
          <a href="/delete_photo/<%= @photo.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete photo
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Users
      </dt>
      <dd>
        <% if @photo.users.present? %>
          <a href="/users/<%= @photo.users_id %>">
            <%= @photo.users.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@photo.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@photo.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "photo_templates/photo_likes" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "photo_templates/photo_stalkers" %>
  </div>
</div>
