<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All obsessions
    </h1>

    <a href="/obsessions/new" class="btn btn-block btn-outline-secondary">
      Add a new obsession
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "obsession_templates/obsessions_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Stalker
        </th>

        <th>
          Victim
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @obsessions.each do |obsession| %>
      <tr>
        <td>
          <%= obsession.id %>
        </td>

        <td>
          <% if obsession.stalker.present? %>
            <a href="/users/<%= obsession.stalker.id %>">
              <%= obsession.stalker.email %>
            </a>
          <% end %>
        </td>

        <td>
          <% if obsession.victim.present? %>
            <a href="/users/<%= obsession.victim.id %>">
              <%= obsession.victim.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(obsession.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(obsession.updated_at) %> ago
        </td>

        <td>
          <a href="/obsessions/<%= obsession.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @obsessions, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
