<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Obsession #<%= @obsession.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/obsessions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/obsessions/<%= @obsession.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit obsession
        </a>
      </div>

      <div class="col">
        <a href="/delete_obsession/<%= @obsession.id %>" class="btn btn-block btn-outline-secondary">
          Delete obsession
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Stalker
      </dt>
      <dd>
        <% if @obsession.stalker.present? %>
          <a href="/users/<%= @obsession.stalker_id %>">
            <%= @obsession.stalker.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Victim
      </dt>
      <dd>
        <% if @obsession.victim.present? %>
          <a href="/users/<%= @obsession.victim_id %>">
            <%= @obsession.victim.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@obsession.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@obsession.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

